[Unit]
Description=My Flask Application
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu
ExecStart=/usr/bin/python3 /var/www/html/flaskapp/flaskapp.py
Restart=always

[Install]
WantedBy=multi-user.target
